body {
  background: rgba(219, 243, 255, 0.3);
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(65, 77, 94);
  margin-top: 50px;
  text-align: center;
  border-top: 1px solid #f9f7fe;
  padding-top: 30px;
}
ul {
  padding: 0;
}

li {
  list-style: none;
}

.weather-stats {
  display: inline;
  padding: 10px;
}
.city-search {
  max-width: 900px;
  display: flex;
  align-items: flex-end;
}

.enter-city {
  background-color: #f9f7fe;
  border: none;
  color: #27296d;
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  border: none;
}

.submit-city {
  margin-left: 5px;
  font-size: 16px;
  background-color: #27296d;
  color: white;
  border: none;
  padding: 20px;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  width: 200px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.weather-app {
  background: rgb(186, 232, 232);
  background: radial-gradient(
    401px at 50.6% -0.3%,
    rgba(255, 255, 255, 0.31) 1.2%,
    rgb(186, 232, 232) 100.2%
  );
  border-radius: 10px;
  margin: 50px auto;
  max-width: 900px;
  padding: 20px 40px;
  box-shadow: 3px 4px 10px rgba(176, 182, 182, 0.2);
}

.current-city {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: #27296d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-city h1 {
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 0px;
}

.current-city p {
  margin-top: 0px;
}

.current-weather {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 50px;
  color: #1c1e47;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.current-weather-details {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  color: #27296d;
  display: flex;
  justify-content: center;
}
.todays-temperature {
  box-shadow: inset -1px -1px 12px 16px rgba(32, 7, 65, 0.2);
  border-radius: 10px;
  padding: 35px;
  background: rgba(39, 41, 109, 1);
  color: white;
}

.temp-units {
  text-decoration: none;
  color: white;
  font-size: 20px;
  position: relative;
  bottom: 30px;
}

.low-temp {
  padding-left: 55px;
}

.current-temperature-icon {
  display: flex;
  justify-content: center;
}

.boldtext {
  font-weight: bold;
  font-size: 40px;
  position: relative;
  bottom: 10px;
}

.current-temperature-value {
  padding-left: 20px;
}

.daily-temp {
  font-size: 30px;
  padding-left: 20px;
  padding-top: 30px;
}

.weather-forecast {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: rgb(39, 41, 109);
  display: flex;
}
.low-temp-forecast {
  opacity: 0.7;
  padding-left: 10px;
}

.high-temp-forecast {
  font-weight: 500;
}
.forecast-weather-icon {
  padding-left: 30px;
}
.forecastday {
  padding-left: 10px;
  font-weight: 500;
}

.col-2 {
  padding: 20px;
  background-color: #e3f6f7;
  box-shadow: -8px 0px 29px rgba(39, 41, 109, 0.2);
  border-radius: 10px;
  padding: 15px 35px;
}

.forecast-element {
  margin-bottom: 30px;
}
